body{
    box-sizing: border-box;
}

.container{
    box-sizing: border-box;
    width: 100%;
    height: 200px;
}

.row{
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    display: flex;
    padding: 0;
    margin: 0;
}

.pixel{
    box-sizing: border-box;
    width: 5px;
    height: 5px;
}

