.container{
    height: 300px;
    width: 300px;
    background: red;
}

.square{
    height: 100px;
    width: 100px;
    border-radius: 0;
}

.circle{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}